.container {
  display: flex;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  height: 100vh;
}

/* Row */

.row {
  display: flex;
  flex: 1;
  padding: 20px 20px 20px 20px;
}

.row + .row {
  flex-basis: 75%;
  padding-top: 0;
}

/* Cell */

.image_cell {
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  color: #666;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  justify-content: center;
}

.image_cell + .image_cell {
  margin-left: 20px;
}

.image_cell--before {
  justify-content: flex-end;
}

.image_cell--after {
  justify-content: flex-start;
}

/* Preview */

.image_preview_container {
  max-height: 100%;
  max-width: 100%;
}

.image_preview {
  max-height: 100%;
  max-width: 100%;
}

/* Input */

.file_input {
  display: none;
}

.file_label {
  margin: 0 20px;
}
